.container {
  margin: 0 auto;
  /* max-width: 1280px; */
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}

.me,
.you {
  font-family: "Noto Sans JP", sans-serif;
  border-radius: 60px;
  color: #161616;
  padding: 12px 25px 15px 25px;
  position: relative;
  z-index: 3;
  display: table;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
  font-size: 75%;
}

.me {
  background-color: #79e277;
  margin-left: auto !important;
  margin-right: 10px !important;
}

.you {
  background-color: #ffffff;
  margin-left: 15px !important;
}

.me:before,
.you:before {
  z-index: -3;
  background-color: transparent;
  content: "";
  position: absolute;
}

.me:before {
  top: -20px;
  right: 0px;
  width: 80px;
  height: 65px;
  box-shadow: inset -3px -23px 0px 0px #79e277;
  border-bottom-right-radius: 50px;
  transform: rotateZ(25deg);
}

/* --main-bg-color: brown; */
/* background-color: var(--main-bg-color); */
.you:before {
  top: -20px;
  left: 0px;
  width: 80px;
  height: 65px;
  box-shadow: inset 3px -23px 0px 0px #ffffff;
  border-bottom-left-radius: 50px;
  transform: rotateZ(-25deg);
}

.noArrow:before {
  /* content: none !important; */
  display: none !important;
}

.me:after,
.you:after {
  position: absolute;
  color: rgba(0, 0, 0, 0.55);
  white-space: pre;
  font-size: 65%;
  margin: 0;
  padding: 0;
}

.me:after {
  content: "  " attr(kidoku) "\A"attr(time);
  bottom: 5px;
  left: -60px;
}

.you:after {
  content: "\A"attr(time);
  bottom: 7px;
  right: -58px;
}

.slides section .fragment {
  transition: all 0.1s ease !important;
}

.line-talk-screen {
  padding: 10px;
  border-radius: 12px;
  background-color: #8cabd8;
  height: 2000px;
}

.scrollable-slide {
  height: 800px;
  overflow-y: auto !important;
}

::-webkit-scrollbar {
  /* width: 6px; */
  display: none;
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  /* border-radius: 50%; */
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
}

::-webkit-scrollbar-corner {
  background-color: #333;
}

.toaru {
  border-radius: 50px;
  padding: 0.5em 1em;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  font-family: "Noto Sans JP", sans-serif;
  display: table;
  margin: 2em auto !important;
  font-size: 22px;
}

.relative {
  position: relative;
}

.push-notification {
  position: absolute;
  top: 0px;
  left: 20%;
  /* transform: translateX(-50%) !important; */
  background-color: rgba(200, 200, 200, 0.35);
  /* backdrop-filter: blur(5px); */
  /* filter: blur(8px); */
  padding: 12px 15px 22px;
  font-size: 18px;
  width: 60%;
  border-radius: 23px;
  color: #111;
  display: grid;
  grid-template-rows: 2.4em 2em 2em;
  font-family: "Noto Sans JP", sans-serif;
  /* grid-template-columns: 150px 1fr; */
}

.slide2 {
  height: 100%;
}

.blur-all {
  filter: blur(15px);
}

.line-icon {
  display: inline-block;
  margin: 0 !important;
  object-fit: contain;
  margin-right: 7px !important;
}

.line-icon-row-1 {
  display: flex;
  align-items: center;
  justify-content: left;
  color: rgba(0, 0, 0, 0.5);
}

.line-icon-row-1 > span {
  font-size: 19px;
}

.line-name,
.line-content {
  display: flex;
  text-align: left;
  padding-left: 9px !important;
  font-size: 21px;
}

.line-name {
  font-weight: 700;
  align-items: flex-end;
}
.line-content {
  align-items: flex-end;
  text-align: left;
}

.no-select {
  user-select: none; /* CSS3 */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari、Chromeなど */
  -ms-user-select: none; /* IE10かららしい */
}
